* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-button {
  @apply bg-red-600 rounded-md p-1 px-6 text-white font-montserrat font-semibold text-16;
}


.link-name {
  position: relative;
  z-index: 1;
  transition: background-color 1s ease, color 1s ease;
}

.link-name:hover {
  background-color: black;
  color: white;
}
.zoomed-image {
  width: auto;
  height: auto;
  transform: scale(1.4);
  animation: zoomIn 0.5s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.4);
  }
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 33.33%;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
