* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primary-button {
  @apply bg-red-600 rounded-md p-1 px-6 text-white font-montserrat font-semibold text-16;
}
.animated-button-right{
  @apply  text-4xl  flex justify-center items-center overflow-hidden bg-white text-black transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:w-0 before:bg-black before:transition-all before:duration-75 hover:text-white hover:before:left-0 hover:before:w-full;
}
body{
  background-color:#f5f5f5;
}
.link-name {
  position: relative;
  z-index: 1;
  transition: background-color 1s ease, color 1s ease;
}
.link-name:hover {
  color: white;
}
.zoomed-image {
  width: auto;
  height: auto;
  transform: scale(1.2);
  animation: zoomIn 0.5s ease-in-out forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.2);
  }
}
/* Hide scrollbar for all browsers */
.scrollbar-custom {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow: -moz-scrollbars-none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* iOS Safari */
}

/* Optional: Customize scrollbar styles for WebKit-based browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  display: none;
}

/* Optional: Customize scrollbar track */
.scrollbar-custom::-webkit-scrollbar-track {
  display: none;
}

/* Optional: Customize scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  display: none;
}
/* for contact page */
.custom-textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.custom-label {
  margin-bottom: 8px;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54); /* Matches Material UI's default label color */
}

.custom-input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.23); /* Matches Material UI's default border color */
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  width: 100%; /* Full width */
}

.custom-input:focus {
  border-color: #1976d2; /* Matches Material UI's focused border color */
}

