.slider-container {
    position: relative;
    width: 50%; /* Reduced size */
    margin: auto;
    overflow: hidden;
    padding:0px;
    border-radius: 10px;
  }
  
  .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height:120px; /* Reduced height */
  }
  
  .slider-item {
    position: absolute;
    display: flex;
    flex-direction: row; /* Image and text side by side */
    justify-content: space-between; /* Adjusted for new layout */
    align-items: center;
    transform: scale(0.5);
    transition: transform 0.8s ease, opacity 0.8s ease, z-index 0s 0.8s;
  }
  
  .slider-item img {
    border-radius: 10px;
  }
  
  .text-content {
    width: 50%; /* Adjusted for side-by-side layout */
    text-align: left; /* Adjusted for new layout */
    padding: 0 20px;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .nav-button {
    width: 15px; /* Slightly larger for better visibility */
    height: 15px;
    margin: 0 5px;
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .nav-button.active, .nav-button:hover {
    background: #007bff;
  }
  